---
import BlogCard from "@/components/BlogCard.astro";
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog");

allBlogPosts.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});
---

<Layout title="Blog - pkpt">
    <Main class="flex flex-col justify-center">
        <h1 class="my-6 text-5xl font-bold lg:my-12 lg:text-8xl">Blog</h1>
        <div class="mb-4 grid gap-4 lg:grid-cols-2">
            {
                allBlogPosts.map((v) => {
                    return <BlogCard post={v} />;
                })
            }
        </div>
    </Main>
</Layout>
