---
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="PKPT">
    <Main>
        <h1 class="text-8xl font-bold pb-4">Blog!</h1>
        <span class="text-xl">Under construction 🚧</span>
    </Main>
</Layout>
