---
import BigCard from "@/components/BigCard.astro";
import BlogCard from "@/components/BlogCard.astro";
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog");

allBlogPosts.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});

const tagMap = new Map<string, number>();

allBlogPosts.forEach((v) => {
    v.data.tags.forEach((v) => {
        if (tagMap.has(v)) {
            tagMap.set(v, tagMap.get(v)! + 1);
        } else {
            tagMap.set(v, 1);
        }
    });
});

const tags = [];

for (const [key, value] of tagMap.entries()) {
    if (value >= 2) {
        tags.push(key);
    }
}

tags.sort((a, b) => {
    return tagMap.get(b)! - tagMap.get(a)!;
});
---

<Layout title="Blog - pkpt">
    <Main class="flex flex-col justify-center px-6 pb-8 lg:px-0">
        <a href="/blog">
            <h1 class="my-6 text-5xl font-bold lg:mt-12 lg:text-8xl">Blog</h1>
        </a>
        <div class="mb-6 flex flex-wrap gap-2 gap-y-2 lg:mb-12">
            {
                tags.map((v) => (
                    <div class="not-prose">
                        <a
                            href={`/blog/tag/${v}`}
                            class="not-prose box-border rounded-full border-2 border-maindark bg-maindark px-2 py-1 text-sm text-mainlight transition-all hover:bg-mainlight hover:text-maindark"
                        >
                            {v}
                        </a>
                    </div>
                ))
            }
        </div>
        <div class="mb-4 grid grid-cols-1 gap-4 lg:grid-cols-1">
            <BigCard class="hidden lg:block" blog={allBlogPosts[0]} />
            {
                allBlogPosts.map((v, i) => {
                    return (
                        <>
                            {i != 0 && (
                                <div class=" mx-auto w-[80%] border-y-[1px] border-maindark" />
                            )}
                            <BlogCard
                                post={v}
                                class={i == 0 ? "block lg:hidden" : ""}
                            />
                        </>
                    );
                })
            }
        </div>
    </Main>
</Layout>
