---
import BlogCard from "@/components/BlogCard.astro";
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    const allTags = posts.flatMap((post) => post.data.tags);
    const tags = [...new Set(allTags)];
    return tags.map((tag) => ({
        params: { slug: tag },
        props: {
            tag,
        },
    }));
}

const tag = Astro.props.tag;

const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});

const blogPosts = allBlogPosts.filter((v) => v.data.tags.includes(tag));

function extractDesc(md: string) {
    const lines = md.trim().split("\n");

    let desc = "";
    for (const line of lines) {
        if (line.startsWith("#")) break;
        if (line.startsWith("```")) break;
        if (line.startsWith("---")) break;
        if (line == "") break;
        desc += line + "\n";
    }
    return desc;
}
---

<Layout title="Blog - pkpt">
    <Main class="flex flex-col justify-center">
        <h1 class="my-4 text-5xl font-bold lg:text-8xl">Blog</h1>
        <h2 class="mb-12 text-xl font-bold lg:text-3xl">#{tag}</h2>
        <div class="grid gap-4 lg:grid-cols-2">
            {blogPosts.map((v) => <BlogCard post={v} />)}
        </div>
    </Main>
</Layout>
