---
import BlogCard from "@/components/BlogCard.astro";
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    const allTags = posts.flatMap((post) => post.data.tags);
    const tags = [...new Set(allTags)];
    return tags.map((tag) => ({
        params: { slug: tag },
        props: {
            tag,
        },
    }));
}

const tag = Astro.props.tag;

const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});

const blogPosts = allBlogPosts.filter((v) => v.data.tags.includes(tag));
---

<Layout title="Blog - pkpt">
    <Main class="flex flex-col justify-center pb-8">
        <h1 class="my-2 text-5xl font-bold lg:my-4 lg:text-8xl">Blog</h1>
        <h2 class="mb-6 text-xl font-bold lg:mb-12 lg:text-3xl">#{tag}</h2>
        <div class="mb-4 grid gap-4 lg:grid-cols-2">
            {blogPosts.map((v) => <BlogCard post={v} />)}
        </div>
    </Main>
</Layout>
