---
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Not found">
    <Main class="flex justify-center flex-col">
        <h1 class="lg:text-8xl text-5xl font-bold pb-4">Not found!</h1>
        <span class="text-xl">anything that you're looking for is not here.</span>
    </Main>
</Layout>
