---
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Not found">
    <Main>
        <h1 class="text-8xl font-bold pb-4">Not found!</h1>
        <span class="text-xl">anything that you're looking for is not here.</span>
    </Main>
</Layout>
