---
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Not found">
    <Main class="flex flex-col justify-center">
        <h1 class="pb-4 text-5xl font-bold lg:text-8xl">Not found!</h1>
        <span class="text-xl"
            >anything that you're looking for is not here.</span
        >
    </Main>
</Layout>
