---
import A from "@/components/A.svelte";
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact - pkpt">
    <Main class="flex flex-col justify-center">
        <h1 class="mb-8 text-5xl font-bold lg:text-8xl">Contact</h1>
        <content class="flex flex-col gap-3 text-lg lg:text-xl">
            <p>
                Email: <A newtab href="mailto: bright.pakin@hotmail.com">
                    bright.pakin@hotmail.com
                </A>
            </p>
            <p>
                LinkedIn: <A
                    newtab
                    href="https://www.linkedin.com/in/pakinput/"
                >
                    Pakin Puttanukulchai
                </A>
            </p>
            <p>
                GitHub: <A newtab href="https://github.com/OnFireByte">
                    OnFireByte
                </A>
            </p>
        </content>
    </Main>
</Layout>
