---
import BigCard from "@/components/BigCard.astro";
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    const allTags = posts.flatMap((post) => post.data.tags);
    const tags = [...new Set(allTags)];
    return tags.map((tag) => ({
        params: { slug: tag },
        props: {
            tag,
        },
    }));
}

const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});

const lastestBlogPosts = allBlogPosts[0];
---

<Layout title="Home - pkpt">
    <Main class="flex flex-col justify-center px-12">
        <article
            class="lg:h-100vh flex h-[calc(100vh-4rem)] flex-col items-start justify-center"
        >
            <h1 class="animate-wiggle-small mb-4 w-auto text-6xl font-bold">
                Hello!
            </h1>
            <p class="text-md mb-8">
                pkpt is <font class="font-bold">"Pakin Puttanukulchai"</font>
            </p>

            <h2 class="mb-4 text-xl font-bold">TLDR RESUME;</h2>
            <ul class="text-md list-disc px-5">
                <li>Back End Software Engineer</li>
                <li>Go, Typescript, Python</li>
                <li>Indie Music Lover</li>
                <li>Audiophile</li>
                <li>Keyboard Enthusiast</li>
            </ul>
            <span
                class="absolute bottom-8 left-1/2 mx-auto animate-bounce text-2xl font-bold md:bottom-24"
            >
                ↓</span
            >
        </article>
        <article class="flex flex-col justify-center gap-8 pb-8">
            <h1 class="text-5xl font-bold">Latest Blog</h1>

            <div class="flex flex-col gap-4">
                <BigCard blog={lastestBlogPosts} />

                <a
                    href="/blog"
                    class="ml-auto cursor-pointer rounded-md p-2 hover:bg-maindark hover:text-mainlight"
                    >More blog?</a
                >
            </div>
        </article>
    </Main>
</Layout>
