---
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home - pkpt">
    <Main class="flex flex-col justify-center">
        <h1 class="pb-4 text-5xl font-bold lg:text-8xl">Hello!</h1>
        <p>
            pkpt is literally abbreviation of <font class="font-bold"
                >"Pakin Puttanukulchai"</font
            >
        </p>
    </Main>
</Layout>
