---
import BigCard from "@/components/BigCard.astro";
import HomeNav from "@/components/HomeNav.svelte";
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    const allTags = posts.flatMap((post) => post.data.tags);
    const tags = [...new Set(allTags)];
    return tags.map((tag) => ({
        params: { slug: tag },
        props: {
            tag,
        },
    }));
}

const allBlogPosts = await getCollection("blog");
allBlogPosts.sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
});

const lastestBlogPosts = allBlogPosts[0];
---

<Layout title="Home - pkpt" withNav={false}>
    <Main class="flex flex-col justify-center px-12">
        <article
            class="lg:h-100vh flex h-screen flex-col items-center justify-center gap-8 md:flex-row"
        >
            <HomeNav transition:name="nav" load:client />
            <div class="h-[1px] w-48 bg-secondlight md:h-24 md:w-[1px]"></div>
            <div class="flex h-auto flex-col items-start justify-center">
                <h2 class="mb-4 text-xl font-bold">TLDR RESUME;</h2>
                <ul class="text-md list-disc px-5">
                    <li>Back End Software Engineer</li>
                    <li>Go, Typescript, Python</li>
                    <li>Indie Music Lover</li>
                    <li>Audiophile</li>
                    <li>Keyboard Enthusiast</li>
                </ul>
            </div>
        </article>
        <article class="flex flex-col justify-center gap-8 pb-8">
            <h1 class="text-5xl font-bold">Latest Blog</h1>

            <div class="flex flex-col gap-4">
                <BigCard blog={lastestBlogPosts} />

                <a
                    href="/blog"
                    class="ml-auto cursor-pointer rounded-md p-2 hover:bg-maindark hover:text-mainlight"
                    >More blog?</a
                >
            </div>
        </article>
    </Main>
</Layout>
