---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main class="xl:w-[1024px] p-8">
        <h1 class="text-8xl font-bold">Hello!</h1>
        <span class="text-xl">Under construction 🚧</span>
    </main>
</Layout>
