---
import Main from "@/components/Main.svelte";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="pkpt">
    <Main class="flex justify-center flex-col">
        <h1 class="text-8xl font-bold pb-4">Hello!</h1>
        <p>
            pkpt is literally abbreviation of <font class="font-bold">"Pakin Puttanukulchai"</font>
        </p>
    </Main>
</Layout>
