---
import Footer from "@/components/Footer.svelte";
import Navbar from "@/components/Navbar.svelte";
import "@/layouts/blog.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/ibm-plex-sans-thai-looped";
import { ViewTransitions } from "astro:transitions";
import "./main.css";

type Props = {
    title: string;
    tags: string[];
    og: string | undefined;
};

const { title, og } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={title} />
        {og && <meta property="og:image" content={og} />}
        <ViewTransitions fallback="swap" />

        <title>{title}</title>
    </head>
    <body class="flex min-h-screen flex-col items-center bg-mainlight">
        <Navbar
            client:load
            transition:animate="none"
            transition:persist
            transition:name="nav"
        />

        <slot />

        <div class="bg fixed -z-10 hidden h-full w-full md:block"></div>
        <Footer />

        <style>
            ::selection {
                @apply bg-indigo-400 bg-opacity-50 text-white;
            }

            .bg {
                filter: contrast(100%) brightness(1000%);
                background: radial-gradient(
                        circle at -50% 100%,
                        rgba(0, 0, 255, 1),
                        rgba(0, 0, 0, 0)
                    ),
                    linear-gradient(
                        304deg,
                        rgba(215, 0, 255, 1),
                        rgba(255, 0, 0, 0)
                    ),
                    radial-gradient(
                        circle at 55% -50%,
                        rgba(0, 0, 255, 1),
                        rgba(0, 255, 255, 0)
                    ),
                    url("./noise.svg");
            }
        </style>
    </body>
</html>
