---
import Main from "@/components/Main.svelte";
import Navbar from "@/components/Navbar.svelte";
import "@/layouts/blog.css";
import "@fontsource-variable/jetbrains-mono";
import { ViewTransitions } from "astro:transitions";

type Props = {
    title: string;
    tags: string[];
    og: string | undefined;
};

const { title, og } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={title} />
        {og && <meta property="og:image" content={og} />}
        <ViewTransitions />

        <title>{title}</title>
    </head>
    <body class="bg-mainlight min-h-screen flex flex-col items-center">
        <Navbar client:load transition:animate="none" />
        <div class="h-16"></div>

        <Main>
            <article class="minimalist">
                <slot />
            </article>
        </Main>
        <style>
            body {
                font-family: "JetBrains Mono Variable", sans-serif;
            }

            ::selection {
                @apply bg-indigo-400 bg-opacity-50 text-white;
            }
        </style>
    </body>
</html>
