---
import Footer from "@/components/Footer.svelte";
import Navbar from "@/components/Navbar.svelte";
import "@/layouts/blog.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/rubik";
import "@fontsource/ibm-plex-sans-thai-looped";
import { ViewTransitions } from "astro:transitions";
import "./main.css";

type Props = {
    title: string;
    tags: string[];
    og: string | undefined;
};

const { title, og } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={title} />
        <meta name="author" content="Pakin Puttanukulchai" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {og && <meta property="og:image" content={og} />}
        <ViewTransitions fallback="swap" />

        <title>{title}</title>
    </head>
    <body class="bg-mainlight">
        <Navbar client:load transition:animate="none" transition:persist transition:name="nav" />

        <div class="relative flex min-h-screen flex-col items-center">
            <slot />
        </div>

        <Footer />

        <style>
            ::selection {
                @apply bg-indigo-400 bg-opacity-50 text-white;
            }
        </style>
    </body>
</html>
