---
import Navbar from "@/components/Navbar.svelte";
import "@fontsource-variable/jetbrains-mono";

interface Props {
    title: string;
    class?: string;
}

let { title, class: bodyClass } = Astro.props;
bodyClass ??= "";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="bg-mainlight min-h-screen flex flex-col">
        <Navbar />
        <!-- Space for nav bar -->
        <div class="h-16"></div>
        <div class={`${bodyClass} text-stone-700 justify-center flex h-full grow`}>
            <slot />
        </div>
    </body>
</html>

<style>
    body {
        font-family: "JetBrains Mono Variable", sans-serif;
    }
</style>
