---
import Footer from "@/components/Footer.svelte";
import Navbar from "@/components/Navbar.svelte";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/rubik";
import "@fontsource/ibm-plex-sans-thai-looped";
import { ViewTransitions } from "astro:transitions";
import "./main.css";

interface Props {
    title: string;
    class?: string;
    withNav?: boolean;
    desc?: string;
}

let { title, class: bodyClass, withNav, desc } = Astro.props;
withNav ??= true;
bodyClass ??= "";
desc ??= "A personal website of Pakin Puttanukulchai (Bright).";
---

<!doctype html>
<html lang="en" class="bg-white">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={desc} />
        <meta name="author" content="Pakin Puttanukulchai" />
        <meta name="
            viewport" content="width=device-width" /><link
            rel="icon"
            type="image/x-icon"
            href="/favicon.ico"
        /><meta name="generator" content={Astro.generator} /></head
    >

    <ViewTransitions fallback="swap" />
    <title>{title}</title>

    <body
        class="relative flex min-h-screen flex-col overflow-y-scroll bg-mainlight"
    >
        {withNav && <Navbar client:load transition:name="nav" />}
        <div
            class={`${bodyClass} text-maindark justify-center flex h-full grow`}
        >
            <slot />
        </div>
        <Footer />
        <div
            class="absolute -z-10 h-full w-full overflow-hidden mix-blend-multiply"
        >
        </div>
    </body>


</html>
