.grad-bg-pink {
    filter: contrast(98%) brightness(250%);

    background: radial-gradient(
            circle at center,
            rgba(215, 0, 255, 1) 0%,
            10%,
            rgba(1, 1, 1, 0)
        ),
        url("./noise.svg");
}

.grad-bg-blue-pink {
    filter: contrast(100%) brightness(250%);

    background: radial-gradient(
            circle at center,
            rgba(0, 0, 255, 1) 0%,
            10%,
            rgba(1, 1, 1, 0)
        ),
        radial-gradient(
            circle at 40% 40%,
            rgba(215, 0, 255, 1),
            10%,
            rgba(1, 1, 1, 0)
        ),
        url("./noise.svg");
}

.grad-bg-blue {
    filter: contrast(100%) brightness(250%);

    background: radial-gradient(
            circle at center,
            rgba(0, 0, 255, 1) 0%,
            10%,
            rgba(1, 1, 1, 0)
        ),
        url("./noise.svg");
}

.grad-bg-white {
    filter: contrast(100%) brightness(250%);

    background: radial-gradient(
            circle at center,
            rgba(255, 255, 255, 1) 0%,
            15%,
            rgba(1, 1, 1, 0)
        ),
        url("./noise.svg");
}

@media (min-width: 768px) {
    .grad-bg {
        /* filter: contrast(97%) brightness(1000%) !important; */
    }
}
