.grad-bg {
    filter: contrast(97%) brightness(1000%);

    background: radial-gradient(
            circle at 116% 4%,
            rgba(0, 0, 255, 1),
            rgba(0, 0, 0, 0.21)
        ),
        radial-gradient(
            circle at 62% -37%,
            rgba(215, 0, 255, 1),
            rgba(255, 0, 0, 0)
        ),
        radial-gradient(
            circle at -5% 95%,
            rgba(0, 0, 255, 1),
            rgba(0, 255, 255, 0)
        ),
        url("./noise.svg");
}

@media (max-width: 768px) {
    .grad-bg {
        filter: contrast(97%) brightness(2000%) !important;
    }
}
