---
import Download from "@/components/Download.astro";
import Footer from "@/components/Footer.svelte";
import Navbar from "@/components/Navbar.svelte";
import "@/layouts/resume.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource/ibm-plex-sans-thai-looped";
import { ViewTransitions } from "astro:transitions";
import Circle from "./Circle.svelte";
import "./main.css";

type Props = {
    frontmatter: {
        title: string;
        pdfLink?: string;
        noIndex?: boolean;
        description?: string;
    };
};

const { title, pdfLink, noIndex, description } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en" class="relative">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description || title} />
        {noIndex && <meta name="robots" content="noindex" />}
        <ViewTransitions fallback="swap" />
        <title>{title}</title>
    </head>
    <body class="flex min-h-screen flex-col items-center">
        <Navbar
            client:load
            transition:animate="none"
            transition:persist
            transition:name="nav"
        />
        <div class="m-8 print:m-0">
            <article class="minimalist relative">
                <div class="not-prose absolute right-8 top-8 print:top-0">
                    <Download />
                </div>
                <slot />
            </article>
        </div>
        <Footer />
        <div
            class="absolute -z-10 h-full w-full overflow-hidden mix-blend-multiply"
        >
            <Circle class="grad-bg-pink" top="0px" left="0px" size="1548" />

            <Circle
                class="grad-bg-blue-pink"
                top="0px"
                right="0px"
                size="1548"
            />

            <Circle class="grad-bg-blue" top="45%" left="30%" size="2048" />

            <Circle
                class="grad-bg-blue-pink"
                top="55%"
                right="30%"
                size="1048"
            />

            <Circle
                class="grad-bg-blue-pink -rotate-90"
                bottom="0px"
                left="10%"
                size="2048"
            />
        </div>
        <style>
            ::selection {
                @apply bg-indigo-400 bg-opacity-50 text-white;
            }
        </style>
    </body>
</html>
