---
import Footer from "@/components/Footer.svelte";
import Navbar from "@/components/Navbar.svelte";
import "@/layouts/resume.css";
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/rubik";
import "@fontsource/ibm-plex-sans-thai-looped";
import { ClientRouter } from "astro:transitions";
import "./main.css";

type Props = {
    frontmatter: {
        title: string;
        pdfLink?: string;
        noIndex?: boolean;
        description?: string;
    };
};

const { title, pdfLink, noIndex, description } = Astro.props.frontmatter;
---

<!doctype html>
<html lang="en" class="relative">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description || title} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {noIndex && <meta name="robots" content="noindex" />}
        <ClientRouter fallback="swap" />
        <title>{title}</title>
    </head>
    <body class="min-h-screen bg-mainlight print:m-0">
        <Navbar client:load />
        <div class="m-8 flex flex-col items-center">
            <article class="minimalist w-[800px]">
                <slot />
            </article>
        </div>
        <Footer />

        <style>
            ::selection {
                @apply bg-indigo-400 bg-opacity-50 text-white;
            }
        </style>
    </body>
</html>
